@media(min-width: 1200px) {
    .hidden-72rtr7 {
        display: none !important
    }
}

@media(min-width: 810px) and (max-width: 1199.98px) {
    .hidden-1jqt3iz {
        display: none !important
    }
}

@media(max-width: 809.98px) {
    .hidden-1g7w4uk {
        display: none !important
    }
}

@media(min-width: 1200px) {
    .hidden-nb5wab {
        display: none !important
    }
}

@media(min-width: 810px) and (max-width: 1199.98px) {
    .hidden-4rqgi {
        display: none !important
    }
}

@media(max-width: 809.98px) {
    .hidden-jdn3fb {
        display: none !important
    }
}